@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #111018;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Lebar scrollbar tipis */
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #32353B; /* Warna thumb gelap */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #52555b; /* Sedikit lebih terang saat hover */
  }
}